Repository awesomePC/react-chat-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:prettier:write, npm run lint:eslint:write, npm run intl:update-po, npm run lint:stylelint:write

chore(wrappers/storybook): change ts typings interface import
  src/wrappers/StorybookSharedWrapper/StorybookSharedWrapper.tsx
Due: none

refactor(locales): store current locale in SettingsContext To make settings persistent
  src/contexts/SettingsContext.tsx
  src/pages/Settings/SettingsPage.container.spec.tsx
  src/pages/Settings/SettingsPage.container.tsx
  src/pages/Settings/SettingsPage.stories.tsx
  src/utils/locales.spec.ts
  src/utils/locales.ts
  src/wrappers/AppWrapper/AppWrapper.tsx
Due: none

improvement(ui-kit/input): radio and checkbox support
  src/components/ui-kit/Input/Input.css
  src/components/ui-kit/Input/Input.stories.tsx
  src/components/ui-kit/Input/Input.tsx
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(ui-kit): add RadioGroup component
  src/components/ui-kit/RadioGroup/RadioGroup.css
  src/components/ui-kit/RadioGroup/RadioGroup.spec.tsx
  src/components/ui-kit/RadioGroup/RadioGroup.stories.tsx
  src/components/ui-kit/RadioGroup/RadioGroup.tsx
  src/components/ui-kit/RadioGroup/index.ts
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(ui-kit/typography): forward id prop
  src/components/ui-kit/Typography/Typography.tsx
Due: none

feat(pages/settings): change theme toggle
  src/pages/Settings/SettingsPage.container.tsx
  src/pages/Settings/SettingsPage.tsx
Due: none

refactor(class-names): replace [x]: true
  src/components/ui-kit/Button/Button.tsx
  src/components/ui-kit/Typography/Typography.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: none

improvement(ui-kit/radio-group): add boolean values support
  src/components/ui-kit/RadioGroup/RadioGroup.spec.tsx
  src/components/ui-kit/RadioGroup/RadioGroup.stories.tsx
  src/components/ui-kit/RadioGroup/RadioGroup.tsx
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
Due: none

test(jest): disable type checking in tests for better perf
  jest.config.js
Due: none

feat(pages): settings page
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/pages/Settings/SettingsPage.container.spec.tsx
  src/pages/Settings/SettingsPage.container.tsx
  src/pages/Settings/SettingsPage.stories.tsx
  src/pages/Settings/SettingsPage.tsx
Due: none

fix(ui-kit/radio-group): resolve non-unique html ID elements
  src/components/ui-kit/RadioGroup/RadioGroup.tsx
Due: none

improvement(ui-kit): add NavBar
  src/components/ui-kit/NavBar/NavBar.css
  src/components/ui-kit/NavBar/NavBar.stories.tsx
  src/components/ui-kit/NavBar/NavBar.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(ui-kit/navbar): add badge support
  src/components/ui-kit/NavBar/NavBar.css
  src/components/ui-kit/NavBar/NavBar.stories.tsx
  src/components/ui-kit/NavBar/NavBar.tsx
  src/components/ui-kit/NavBar/index.ts
Due: npm run lint:prettier:write, npm run lint:stylelint:write

feat: add global navigation bar to the top of the application
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/index.tsx
  src/wrappers/BodyWrapper/BodyWrapper.css
  src/wrappers/BodyWrapper/BodyWrapper.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(ui-kit/button): opt-out border-radius
  src/components/ui-kit/Button/Button.css
  src/components/ui-kit/Button/Button.stories.tsx
  src/components/ui-kit/Button/Button.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(pages/settings): disable border radius for big button
  src/pages/Settings/SettingsPage.tsx
Due: none

docs(services/chat-service): add specification
  src/services/ChatService/README.md
Due: none

improvement(services/chat): add ChatAdapterAnd implement basic logic
  package-lock.json
  package.json
  src/services/ChatService/ChatAdapter.spec.ts
  src/services/ChatService/ChatAdapter.ts
  src/services/ChatService/ChatService.ts
  src/services/ChatService/__fixtures__/index.ts
Due: npm run lint:prettier:write

improvement(services/chat/adapter): implements optimistic UI update
  src/services/ChatService/ChatAdapter.spec.ts
  src/services/ChatService/ChatAdapter.ts
Due: none

improvement(services/chat/adapter): add listMessages emit
  src/services/ChatService/ChatAdapter.spec.ts
  src/services/ChatService/ChatAdapter.ts
  src/services/ChatService/README.md
Due: none

improvement(services/chat): create service and implement first methods
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

improvement(services/chat): add onMessagesListChange cb
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

improvement(services/chat): should return a new array every time Not to have a bug with react re-renders
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

improvement(services/chat): do not dublicate messages with same id
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

improvement(services/chat): sendMessage method
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

improvement(services/chat): create an index with factory
  src/services/ChatService/index.ts
Due: none

improvement(contexts/settings): add userId
  src/contexts/SettingsContext.tsx
Due: none

improvement(services/chat): export ChatService and ChatMessage types
  src/services/ChatService/index.ts
Due: none

chore(pages/chat): reuse chat message declaration from service
  src/pages/Chat/ChatPage.tsx
Due: none

feat(pages/chat): redirect user to settings if no username is set
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.container.tsx
Due: none

improvement(contexts): create ChatContext to store messages
  src/contexts/ChatContext/ChatContext.spec.tsx
  src/contexts/ChatContext/ChatContext.tsx
  src/services/ChatService/__mocks__/index.ts
Due: none

improvement(contexts/chat): add counter In a real application a counter is not the length of the array But a total number of messages on the server
  src/contexts/ChatContext/ChatContext.tsx
Due: none

feat(chat): chat is connected and working
  src/pages/Chat/ChatPage.container.tsx
  src/wrappers/BodyWrapper/BodyWrapper.tsx
Due: none

fix(services/chat): get initial messages
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

fix(service/chat): no internet mode If there is no internet connection, sent messages are displayed (without a checkmark) and sent after the connection is reinitialized.
  src/services/ChatService/ChatAdapter.spec.ts
  src/services/ChatService/ChatAdapter.ts
  src/services/ChatService/README.md
Due: none

fix(contexts/settings): reset username and userId
  src/contexts/SettingsContext.tsx
Due: none

chore(service/chat): pass a backend url using a .env file And setup `start:local` script to connect to a local server
  .env
  .env.local
  config/webpack/config.webpack.common.js
  package-lock.json
  package.json
  src/config/env.ts
  src/services/ChatService/index.ts
Due: npm run lint:prettier:write

fix(pages/chat): recieved checkmark should be only on sent messages
  src/pages/Chat/components/ChatMessage/ChatMessage.stories.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: none

refactor(contexts/chat): add index file to the module
  src/contexts/ChatContext/index.ts
  src/pages/Chat/ChatPage.container.tsx
  src/wrappers/BodyWrapper/BodyWrapper.tsx
Due: none

refactor(context/settings): move to a module folder To create tests
  src/contexts/SettingsContext/SettingsContext.tsx
  src/contexts/SettingsContext/index.ts
Due: none

Path conditions:
  npm run lint:prettier:write: ((any of: *.(js|jsx|ts|tsx)) or (any of: *.json)) or (any of: *.css)
  npm run lint:eslint:write: any of: *.(js|jsx|ts|tsx)
  npm run intl:update-po: any of: *.(js|jsx|ts|tsx)
  npm run lint:stylelint:write: any of: *.css
