Repository awesomePC/react-chat-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:prettier:write, npm run lint:eslint:write, npm run intl:update-po, npm run lint:stylelint:write

build(docker): add docker-compose to test frontend together with backend It can be handy to have a quick way to launch everything with one simple command `docker-compose up` to start the project
  Dockerfile.development
  README.md
  docker-compose.yml
Due: none

test(contexts/settings): add integration test
  src/contexts/SettingsContext/SettingContext.spec.tsx
Due: none

improvement(contexts/settings): save user's settings in the localStorage
  src/contexts/SettingsContext/SettingContext.spec.tsx
  src/contexts/SettingsContext/SettingsContext.tsx
Due: none

feat(contexts/settings): read user's settings from localStorage
  src/contexts/SettingsContext/SettingContext.spec.tsx
  src/contexts/SettingsContext/SettingsContext.tsx
Due: none

fix(chat): do not display username for outbox messages
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: none

improvement(service/chat): should store count and unreadCount
  src/contexts/ChatContext/ChatContext.tsx
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

improvement(services/chat): add mark all as read method
  src/contexts/ChatContext/ChatContext.tsx
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

feat(pages/chat): local unread messages counter
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.container.tsx
  src/wrappers/AppWrapper/AppWrapper.tsx
  src/wrappers/BodyWrapper/BodyWrapper.tsx
Due: none

feat(pages/chat): change HTML title when unread messages appear
  src/contexts/ChatContext/ChatContext.spec.tsx
  src/contexts/ChatContext/ChatContext.tsx
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/wrappers/AppWrapper/AppWrapper.tsx
Due: none

feat(chat): chat link should blink, if there are some unread messages
  src/components/ui-kit/NavBar/NavBar.css
  src/components/ui-kit/NavBar/NavBar.stories.tsx
  src/components/ui-kit/NavBar/NavBar.tsx
  src/wrappers/BodyWrapper/BodyWrapper.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

fix(chat): chat shouldn't have a scroll
  src/pages/Chat/ChatPage.css
Due: npm run lint:prettier:write, npm run lint:stylelint:write

chore(linter): fix linter's error
  src/contexts/ChatContext/ChatContext.spec.tsx
Due: none

build(webpack): build has been non-es5 compatible Because of the debug library which is dependency of socket.io
  config/webpack/config.webpack.common.js
Due: none

improvement(pages/chat): an ability to render an image in a message
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/pages/Chat/components/ChatMessage/ChatMessage.css
  src/pages/Chat/components/ChatMessage/ChatMessage.stories.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

feat(chat): show url's as url's in messages
  src/pages/Chat/components/ChatMessage/ChatMessage.container.spec.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.container.tsx
  src/pages/Chat/components/ChatMessage/index.ts
Due: none

fix(chat): three.domain.links and links/withPath should be links in chat
  src/pages/Chat/components/ChatMessage/ChatMessage.container.spec.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.container.tsx
Due: none

feat(chat): show image if image link is pasted
  README.md
  __mocks__/fetch.js
  jest.config.js
  package-lock.json
  package.json
  src/pages/Chat/components/ChatMessage/ChatMessage.container.spec.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.container.tsx
Due: npm run lint:prettier:write

feat(chat): show an image even if redirect is required
  src/pages/Chat/components/ChatMessage/ChatMessage.container.spec.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.container.tsx
Due: none

fix(chat): scroll chat to bottom after image load
  src/pages/Chat/ChatPage.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.container.spec.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.stories.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: none

improvement(design): dark colors changes
  src/styles/themes/dark.css
Due: npm run lint:prettier:write, npm run lint:stylelint:write

fix(pages/chat): do not crawl image again, if a network error occured
  src/pages/Chat/components/ChatMessage/ChatMessage.container.tsx
Due: none

improvement(chat/chat-message): add an ability to display youtube video
  package-lock.json
  package.json
  src/pages/Chat/components/ChatMessage/ChatMessage.stories.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: npm run lint:prettier:write

feat(chat): show youtube video in message
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/pages/Chat/components/ChatMessage/ChatMessage.container.spec.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.container.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: none

perf(chat-message): should proceed links in chat messages once
  src/pages/Chat/components/ChatMessage/ChatMessage.container.tsx
Due: none

fix(chat/youtube): youtube video should be ok on mobile
  src/pages/Chat/components/ChatMessage/ChatMessage.css
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

docs(readme): remove TODO section
  README.md
Due: none

build(es5-check): transpile react-youtube and await-lock
  config/webpack/config.webpack.common.js
Due: none

docs(readme): add features, how does it work sections
  README.md
Due: none

docs(readme): improve features section
  README.md
Due: none

chore(i18n): translate russian
  src/i18n/ru.po
Due: none

chore(i18n): translate Hebrew
  src/i18n/he.po
Due: none

build(es5-check): temporarily disable es5-check
  config/webpack/config.webpack.common.js
  package.json
Due: npm run lint:prettier:write

1.0.0
  package-lock.json
  package.json
Due: npm run lint:prettier:write

fix(nav-bar): a bug sometimes occured after NavBar stops to blink Sometimes NavBar remained in dark color
  __utils__/render.tsx
  __utils__/renderWithRouter.tsx
  jest.config.js
  package-lock.json
  package.json
  src/components/ui-kit/NavBar/NavBar.spec.tsx
  src/components/ui-kit/NavBar/NavBar.tsx
Due: npm run lint:prettier:write

1.0.1
  package-lock.json
  package.json
Due: npm run lint:prettier:write

test(testing-library): renderWithRouter should forward wrapper
  __utils__/render.tsx
  __utils__/renderWithRouter.tsx
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: npm run lint:prettier:write

1.0.2
  package-lock.json
  package.json
Due: npm run lint:prettier:write

refactor(ui-kit): changes API of Input element
  src/components/ui-kit/Input/Input.stories.tsx
  src/components/ui-kit/Input/Input.tsx
  src/components/ui-kit/RadioGroup/RadioGroup.tsx
  src/pages/Chat/components/ChatInput/ChatInput.tsx
  src/pages/Settings/SettingsPage.tsx
Due: none

fix: provide compatibility with IE11
  README.md
  config/webpack/config.webpack.common.js
  package-lock.json
  package.json
Due: npm run lint:prettier:write

Path conditions:
  npm run lint:prettier:write: ((any of: *.(js|jsx|ts|tsx)) or (any of: *.json)) or (any of: *.css)
  npm run lint:eslint:write: any of: *.(js|jsx|ts|tsx)
  npm run intl:update-po: any of: *.(js|jsx|ts|tsx)
  npm run lint:stylelint:write: any of: *.css
