Repository awesomePC/react-chat-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:prettier:write, npm run lint:eslint:write, npm run intl:update-po, npm run lint:stylelint:write

perf(webpack): babel should transpile only selected libraries
  config/webpack/config.webpack.common.js
  package-lock.json
  package.json
Due: npm run lint:prettier:write

1.0.3
  package-lock.json
  package.json
Due: npm run lint:prettier:write

fix(chat): every second video has not been displayed
  src/pages/Chat/components/ChatMessage/ChatMessage.container.spec.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.container.tsx
Due: none

1.0.4
  package-lock.json
  package.json
Due: npm run lint:prettier:write

feat(chat): show alert if no username is provided
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.container.tsx
Due: none

1.0.5
  package-lock.json
  package.json
Due: npm run lint:prettier:write

chore(i18n): translate new strings to ru and he
  src/i18n/he.po
  src/i18n/ru.po
Due: none

1.0.6
  package-lock.json
  package.json
Due: npm run lint:prettier:write

improvement(search): create gstate library
  src/utils/gstate/gstate.spec.ts
  src/utils/gstate/gstate.ts
Due: none

chore(gstate): add barrel index export
  src/utils/gstate/gstate.ts
  src/utils/gstate/index.ts
Due: none

refactor(gstate): generic should recieve string union, not string array
  src/utils/gstate/gstate.spec.ts
  src/utils/gstate/gstate.ts
Due: none

improvement(search): added open/close search button
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.container.tsx
  src/pages/Chat/ChatPage.tsx
Due: none

improvement(search): show loading indicator while searching
  package-lock.json
  package.json
  src/components/ui-kit/Input/Input.css
  src/components/ui-kit/Input/Input.stories.tsx
  src/components/ui-kit/Input/Input.tsx
  src/components/ui-kit/Loading/Loading.tsx
  src/components/ui-kit/Loading/index.ts
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.container.tsx
  src/pages/Chat/ChatPage.css
  src/pages/Chat/ChatPage.stories.tsx
  src/pages/Chat/ChatPage.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(chat-service): add search method
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

refactor(gstate): refactor gstate to recieve event with payload
  src/utils/gstate/gstate.spec.ts
  src/utils/gstate/gstate.ts
  src/utils/gstate/index.ts
Due: none

improvement(gstate): pass an event object to all the lifecycle methods
  src/utils/gstate/gstate.spec.ts
  src/utils/gstate/gstate.ts
Due: none

improvement(search): add search information to the search bar
  src/contexts/ChatContext/ChatContext.tsx
  src/contexts/ChatContext/index.ts
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.container.tsx
  src/pages/Chat/ChatPage.stories.tsx
  src/pages/Chat/ChatPage.tsx
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
  src/services/ChatService/index.ts
Due: none

improvement(search): search error handling
  src/i18n/en-GB.po
  src/i18n/he.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.container.tsx
  src/pages/Chat/ChatPage.stories.tsx
  src/pages/Chat/ChatPage.tsx
Due: none

improvement(search): highlights found message
  src/pages/Chat/ChatPage.stories.tsx
  src/pages/Chat/ChatPage.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.css
  src/pages/Chat/components/ChatMessage/ChatMessage.stories.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
  src/styles/themes/dark.css
  src/styles/themes/default.css
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(search): scroll to the searched message
  src/pages/Chat/ChatPage.stories.tsx
  src/pages/Chat/ChatPage.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: none

style(search): style components
  src/components/ui-kit/Button/Button.css
  src/components/ui-kit/Button/Button.tsx
  src/components/ui-kit/Loading/Loading.tsx
  src/pages/Chat/ChatPage.css
  src/pages/Chat/ChatPage.stories.tsx
  src/pages/Chat/ChatPage.tsx
  src/pages/Chat/components/ChatInput/ChatInput.tsx
  src/pages/Chat/components/ChatMessage/ChatMessage.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(search): disable buttons when search is empty
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.tsx
Due: none

style(rtl): hebrew fix
  src/pages/Chat/ChatPage.css
Due: npm run lint:prettier:write, npm run lint:stylelint:write

style(input): make chat input height correct
  src/components/ui-kit/Input/Input.css
Due: npm run lint:prettier:write, npm run lint:stylelint:write

improvement(chat): do not highlight messages when not in search mode
  src/pages/Chat/ChatPage.tsx
Due: none

improvement(search): clear search when closed
  src/pages/Chat/ChatPage.container.spec.tsx
  src/pages/Chat/ChatPage.container.tsx
Due: none

improvement(search): should work for empty search
  src/services/ChatService/ChatService.spec.ts
  src/services/ChatService/ChatService.ts
Due: none

improvement(search): i18n texts
  src/i18n/he.po
  src/i18n/ru.po
Due: none

style(search): error state
  src/components/ui-kit/Input/Input.css
  src/components/ui-kit/Input/Input.tsx
  src/pages/Chat/ChatPage.css
  src/pages/Chat/ChatPage.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

build(tsc): fix type error
  src/pages/Chat/components/ChatMessage/ChatMessage.container.spec.tsx
Due: none

docs(readme): adds info about search
  README.md
Due: none

style(mobile): mobile styles for the search input
  src/pages/Chat/ChatPage.css
Due: npm run lint:prettier:write, npm run lint:stylelint:write

docs(readme): add info about gstate
  README.md
Due: none

1.1.0
  package-lock.json
  package.json
Due: npm run lint:prettier:write

Path conditions:
  npm run lint:prettier:write: ((any of: *.(js|jsx|ts|tsx)) or (any of: *.json)) or (any of: *.css)
  npm run lint:eslint:write: any of: *.(js|jsx|ts|tsx)
  npm run intl:update-po: any of: *.(js|jsx|ts|tsx)
  npm run lint:stylelint:write: any of: *.css
